<script setup lang="ts">
import { cn } from "../utils";

// https://vuejs.org/api/sfc-script-setup.html#typescript-only-features
// https://leerob.io/blog/funding-open-source
defineProps<{
  textLabel: string;
}>();
</script>

<template>
  <!-- <span
    class="text-base font-mono px-1.5 py-0 bg-cyan-100 rounded-sm text-cyan-700"
  >
    {{ textLabel }}
  </span> -->
  <div
    :class="
      cn(
        'rounded-md px-2 py-1',
        'font-mono text-sm tracking-tighter',
        'bg-gray-800 text-white'
      )
    "
  >
    {{ textLabel }}
  </div>
</template>
