<script setup lang="ts">
import { BoltIcon, PencilIcon } from "@heroicons/vue/20/solid";
import { useClipboard } from "@vueuse/core";
import { notify } from "notiwind";
import { useDataStore } from "../stores/data";

const colNames = ["Class", "Properties"];

const dataStore = useDataStore();
const { copy } = useClipboard();

// https://github.com/vueschool/pinia-the-enjoyable-vue-store/blob/main/src/App.vue#L20
dataStore.fetchData();

// https://vuejs.org/guide/essentials/event-handling.html#method-handlers
function showToast(scope: string): void {
  const text = `${scope} copied to clipboard.`;

  notify(
    {
      group: "copy",
      text,
    },
    2000
  );
}

function handleClick(content: string, scope: string): void {
  copy(content);
  showToast(scope);
}
</script>

<template>
  <!-- <div v-for="section in [...dataStore.quasar, ...dataStore.quasar]"> -->
  <div v-for="section in dataStore.quasar">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl">{{ section.name }}</h2>
      <span class="p-2 bg-blue-800/[.15] rounded border-blue-800/[.2] border">
        <PencilIcon
          v-if="section.name === 'Typography'"
          class="w-4 h-4 text-blue-500"
        />
        <BoltIcon v-else class="w-4 h-4 text-blue-500" />
      </span>
    </div>

    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table#scoping_rows_and_columns -->
    <!-- https://tailwindcss.com/docs/width -->
    <!-- https://tailwindcss.com/docs/font-size -->
    <!-- https://vuejs.org/guide/essentials/list.html#v-for-on-template -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/thead -->
    <!-- https://tailwindcss.com/docs/hover-focus-and-other-states#styling-based-on-parent-state -->
    <!-- https://preline.co/docs/tables.html#rounded-tables -->
    <div class="border rounded-lg overflow-hidden border-gray-700">
      <table class="min-w-full divide-y divide-gray-700">
        <thead>
          <tr>
            <th
              v-for="colName in colNames"
              scope="col"
              class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase"
            >
              {{ colName }}
            </th>
          </tr>
        </thead>
        <tbody class="align-baseline divide-y divide-gray-700">
          <tr
            v-for="token in section.classes"
            class="group hover:bg-white/5 transition-colors cursor-copy"
          >
            <th
              scope="row"
              class="px-6 py-4 text-left font-normal font-mono text-gray-300 leading-6 group-hover:text-white transition-colors"
              @click="handleClick(token.class, 'Class')"
            >
              {{ token.class }}
            </th>
            <td
              class="px-6 py-4 text-left font-normal font-mono text-gray-300 leading-6 group-hover:text-white transition-colors whitespace-pre"
              @click="handleClick(token.properties, 'Properties')"
            >
              {{ token.properties }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
