<script setup lang="ts">
import { CodeBracketIcon } from "@heroicons/vue/20/solid";
import { cn } from "../utils";

// https://unpkg.com/browse/@heroicons/vue@2.0.16/24/outline/
// https://heroicons.com/
// https://github.com/tailwindlabs/heroicons#vue
</script>

<template>
  <!-- Source: https://preline.co/plugins.html -->
  <a
    href="https://gitlab.com/joaommpalmeiro/quasar-classes-viewer"
    target="_blank"
    :class="
      cn(
        'inline-flex items-center gap-x-3 py-3 px-5',
        'border rounded-full',
        'text-sm',
        'text-blue-500 bg-blue-800/[.15] border-blue-800/[.2]',
        'transition',
        'hover:border-blue-800'
      )
    "
  >
    <CodeBracketIcon class="w-4 h-4" />
    Source
  </a>
</template>
