<script setup lang="ts">
import { ClipboardDocumentCheckIcon } from "@heroicons/vue/20/solid";
import { Notification, NotificationGroup } from "notiwind";
import InfoBadge from "./components/InfoBadge.vue";
import PageTitle from "./components/PageTitle.vue";
import QuasarContent from "./components/QuasarContent.vue";
import SourceCode from "./components/SourceCode.vue";

// https://zagjs.com/components/vue-sfc/toast
// https://github.com/chakra-ui/zag/blob/%40zag-js/vue%400.2.9/packages/frameworks/vue/src/use-machine.ts
// https://github.com/chakra-ui/zag/blob/%40zag-js/vue%400.2.9/packages/frameworks/vue/src/use-machine.ts#L58
// https://github.com/chakra-ui/zag/tree/%40zag-js/vue%400.2.9/packages/machines/toast/src
// https://github.com/chakra-ui/zag/tree/%40zag-js/toast%400.2.14/packages/machines/toast/src
// https://github.com/chakra-ui/zag/blob/%40zag-js/toast%400.2.14/packages/machines/toast/src/toast.utils.ts
// https://vuejs.org/api/built-in-directives.html#v-for

// https://github.com/emmanuelsw/notiwind#basic-example
// https://preline.co/docs/toasts.html
</script>

<template>
  <NotificationGroup group="copy">
    <div
      class="fixed inset-0 flex items-start justify-end px-4 py-6 pointer-events-none"
    >
      <div class="w-full max-w-xs">
        <Notification
          v-slot="{ notifications }"
          :maxNotifications="5"
          enter="ease-out duration-300 transition"
          enterFrom="opacity-0 translate-x-4"
          enterTo="opacity-100 translate-x-0"
          leave="transition ease-in duration-500"
          leaveFrom="opacity-100"
          leaveTo="opacity-0"
          move="transition duration-500"
          moveDelay="delay-300"
        >
          <div
            v-for="notification in notifications"
            :key="notification.id"
            class="max-w-xs border text-sm rounded-md shadow-md bg-gray-900 border-gray-700 text-white mt-4 mx-auto font-mono"
            role="alert"
          >
            <div class="flex p-4 gap-3 items-center">
              <ClipboardDocumentCheckIcon class="h-4 w-4 text-gray-300" />
              {{ notification.text }}
            </div>
          </div>
        </Notification>
      </div>
    </div>
  </NotificationGroup>
  <!-- https://hypercolor.dev/ (GOTHAM, Radial Top) -->
  <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient -->
  <div
    class="min-h-screen bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"
  >
    <!-- https://play.tailwindcss.com/A7HdMDPg0O?layout=preview&size=1866x900 -->
    <!-- https://www.hyperui.dev/blog/how-to-write-better-containers-in-tailwindcss -->
    <!-- https://tailwindcss.com/docs/max-width -->
    <!-- Original value: max-w-screen-xl -->
    <!-- https://ui.dev/rwd/articles/font-smoothing -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth (for macOS) -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering -->
    <!-- https://tailwindcss.com/docs/adding-custom-styles#arbitrary-properties -->
    <div
      class="max-w-screen-md mx-auto px-4 text-white font-sans antialiased [text-rendering:optimizeLegibility]"
    >
      <!-- https://tailwindcss.com/docs/padding -->
      <header class="pt-24 pb-12 flex items-end justify-between">
        <!-- https://windstatic.com/features -->
        <!-- https://rauno.me/interfaces -->
        <PageTitle textLabel="Quasar CSS classes" />
        <InfoBadge textLabel="2.11.4" />
      </header>
      <main class="flex flex-col gap-12">
        <QuasarContent />
      </main>
      <footer class="py-12 flex justify-center"><SourceCode /></footer>
    </div>
  </div>
</template>
